# Server & Environment Configuration
PORT=3000
BACKEND_URL=https://YOUR-PUBLIC-BACKEND-URL
CLIENT_URL=http://YOUR-FRONTEND-URL
FRONTEND_PORT=5174

# MongoDB Connection
MONGO_URI=mongodb://127.0.0.1:27017/vrs

# Auth & Session Secrets
SECRET_KEY=your_jwt_secret_key
SESSION_SECRET=your_session_secret_key

# Cloudinary Credentials (Optional for local testing if not uploading)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# PayU Credentials
PAYU_KEY=your_payu_merchant_key
PAYU_SALT=your_payu_merchant_salt
PAYU_ENV=test
